<aside class="flex-col items-center hidden bg-slate-300 dark:bg-slate-700 dark:text-gray-100 grid-in-sidebar lg:flex">
    <span class="p-2 font-semibold uppercase">{{if isset .Site.Params "title"}}{{.Site.Params.title}}{{else}}{{.Site.Title}}{{end}}</span>
        <div class="mt-3 overflow-hidden rounded-full h-44 w-44 bg-heraldic-blue">
        <img src="{{.Site.Params.profilePic | relURL}}" alt="SVG of myself">
        </div>
        <p class="p-2 mx-auto mt-2 text-sm text-center text-gray-600 dark:text-gray-400 space-x-2.5">{{.Site.Params.description}}</p>
        <div class="mt-2 flex space-x-2.5 text-xl p-3">
          {{ range .Site.Params.socials }}
          <a href="{{index . "url"}}" class="transition-colors text-2xl duration-75 hover:text-heraldic-blue">
              <i class='{{index . "icon"}}'></i>
          </a>
          {{ end  }}
        </div>


</aside>
