<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="grid h-screen grid-areas-mobile grid-rows-layout lg:grid-areas-desktop grid-cols-layout">
            {{- partial "header.html" . -}}
            {{ partial "sidebar/fixed.html" .}}
            <main class="p-3 prose prose-sm lg:prose-base prose-stone !max-w-none font-alegreya grid-in-main overflow-y-scroll scrollbar-thin scrollbar-thumb-['#f0e3d1'] prose-a:text-heraldic-blue">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
