@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html {
        @apply scroll-smooth motion-reduce:scroll-auto;
    }
    body {
        @apply min-h-screen antialiased bg-manuwhite;
    }

    details summary {
        @apply list-none after:content-['\25b8'] font-bold;
    }

    details[open] summary {
        @apply after:content-['\25be'];
    }
}
