{{ $css := resources.Get "css/tw.css" | postCSS}}
{{ if hugo.IsProduction }}
{{ $css = $css | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{$css.RelPermalink}}"  type="text/css" integrity="{{$css.Data.Integrity}}"/>
{{ else if (and (.Site.IsServer) (fileExists "hugo_stats.json"))  }}
{{- $stats_hash := getJSON "hugo_stats.json" | printf "%v" | sha256 }}
{{ $css = $css | resources.ExecuteAsTemplate (printf "css/tw.%v.css" $stats_hash) . }}
<link rel="stylesheet" href="{{$css.RelPermalink}}" type="text/css" />
{{ end }}
<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" />
<!--  DevIcons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">
