{{ define "main" }}
<figure class="not-prose -mx-3 -mt-3">
    <img src="{{.Site.Params.banner.src}}" alt="{{.Site.Params.banner.alt}}" class="-mt-3">
    <figcaption class="text-center text-sm">{{.Site.Params.banner.alt}}</figcaption>
</figure>

{{.Content}}
{{ end }}
